body {
    font-family: "Roboto", sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    color: #FaF9F8;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 830px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

h1 {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.hero-title {
    font-size: 48px;
    color:#FaF9F8;
    margin: 0;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero-button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #FaF9F8;
    font-size: 18px;
    border: 0px;
}

.hero-text{
    flex-shrink: 0;
    width: 400px;
}

.placeholder-image {
    text-align: center;
    flex-shrink: 0;
    width: 400px;
    height: 220px;
    background-color: rgb(179, 179, 179);
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info-box-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    color:#1F2937;
    font-weight: bolder;
    padding: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-subtext {
    width: 150px;
    text-align: center;
    color:#1F2937
}

.info-img{
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.testimonial {
    background-color: #E5E7EB;
    padding: 50px 0px 30px 0px;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.testimonial-box {
    width: 700px;
}

.testimonial-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-left: 15px
}

.testimonial-credit{
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.call-to-action-box {
    background-color: #3882F6;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    border-radius: 10px;
    margin: 75px 0px;
    color:#FaF9F8
}

.call-to-action-text {
    margin: 30px 0px;
}

.call-to-action-title {
    margin: 0px;
}

.call-to-action-subtext {
    margin: 0px;
    font-size: 14px;
}

.call-to-action-button {
    background-color: #3882F6;
    border: 2px solid #FaF9F8;
    padding: 5px 15px;
    border-radius: 5px;
    color: #FaF9F8;
    font-size: 16px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 15px
}